/* BASE STYLES */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $base-font-color;
}
a {
	color: $base-font-color;
	text-decoration: none;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	cursor: pointer;
	display: block;
}
a:hover {
	text-decoration: none;
	color: $primary-color;
}
a:hover,
a:focus,
a.active,
input,
textarea {
	outline: 0;
	text-decoration: none;
	color: inherit;
}
ul {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none
}
textarea, button {
	@include border-radius (0px);
}
img {
	max-width: 100%;
	vertical-align: middle;
}
/*Before & After*/
:before,
:after {
	font-family: $pseudo-font-family;
	line-height: 1.2;
}
/* SECTION CSS */
section {
	padding-top: 80px;
}
/*CUSTOM CSS*/
.wpg-center {
	float: none;
	vertical-align: middle;
	display: inline-block;
	margin: 0 -2px;
}
.wpg-nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.wpg-align-right {
	float: right;
}