/* FOOTER STYLES */
#footer {
	background: $secondary-color;

	.footer-top {
		padding: 80px 0;

		.row {

			div.wpg-col {
				margin-bottom: 40px;
			}
			div.wpg-col:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-bottom {
		background: $primary-color;
		text-align: center;
		padding: 20px 0;

		span {
			font-size: 14px;
			color: $secondary-color;
		}
	}
}